.TextA {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border-radius: 10px !important;
  border-bottom: none !important;
  min-height: 40px !important;
  max-height: 40px !important;
  min-width: 380px !important;
  max-width: 390px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  text-align: left !important;
}
.ButtonA {
  color: black !important;
  box-shadow: none !important;
}
.CardA {
  box-shadow: var(--softUIEffect-1) !important;
  width: 450px !important;
  height: 40px !important;
  min-width: 500px !important;
  min-height: 40px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  padding-top: 25px !important;
}
